//
// CSS Base
// --------------------------------------------------

html {
	-webkit-font-smoothing: antialiased;
	height: 100%;
}

body {
	height: 100%;
	background-color: $color1;
	font: #{$baseFontSizeM}/#{$baseLineHeightM} $mainFont;
	color: $baseFontColor;
	text-rendering: optimizeLegibility;
}

a {
	&:hover,
	&:focus,
	&:active {
		outline: 0;
	}
}

img {
	@extend %img-responsive;
}