//
// Mixins & Helpers
// --------------------------------------------------

//Make Columns
@mixin make-column($lg, $md, $sm, $xs:12) {
   @include make-xs-column($xs);
   @include make-sm-column($sm);
   @include make-md-column($md);
   @include make-lg-column($lg);
}

//Make Offsets
@mixin make-column-offset($lg:0, $md:0, $sm:0) {
   @include make-sm-column-offset($sm);
   @include make-md-column-offset($md);
   @include make-lg-column-offset($lg);
}

//Make Pull
@mixin make-column-pull($lg:0, $md:0, $sm:0) {
   @include make-sm-column-pull($sm);
   @include make-md-column-pull($md);
   @include make-lg-column-pull($lg);
}

//Make Push
@mixin make-column-push($lg:0, $md:0, $sm:0) {
   @include make-sm-column-push($sm);
   @include make-md-column-push($md);
   @include make-lg-column-push($lg);
}

//Make Opacity
@mixin make-opacity($amount) {
	$oldBrowsers: $amount * 100;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$oldBrowsers)";
	filter: alpha(opacity=$oldBrowsers);
	-moz-opacity: $amount;
	-khtml-opacity: $amount;
	opacity: $amount;
}


// Unstyled lists
%reset-ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

// Clearfix
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1; /* ie 6/7 */
}

// Responsive Images
%img-responsive {
	max-width: 100%;
	height: auto;
	width: 100% \9;
}

// Image Replacement
%ir {
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 150%;
	}
}

// Make Floats
%fl {
	float: left;
}

%fr {
	float: right;
}
