//
// Variables
// --------------------------------------------------


// Colors
$color1: #fff;	   //white
$color2: #7d7d7d;  //lighter gray
$color3: #606060;  //light gray
$color4: #1ab9e1;  //aqua blue
$color5: #141414;  //black


// Images Path
$imagesPath: '../images/';


// Fonts
$mainFont: 'Libre Baskerville', 'Georgia', serif;
$secondaryFont: 'Raleway', sans-serif;
$thirdaryFont: 'Lato', sans-serif;

$baseFontColor: $color2;


// Font Config Mobile
$baseFontSizeM: 16px;
$baseLineHeightM: 24px;

// Font Config Desktop
$baseFontSize: 16px;
$baseLineHeight: 28px;


//Titles color
$sectionTitlesColor: $color3;


//Vertical Spacing
$vSpace: 15px;