/*-----------------------------------------------------------------
	
	Website: Codemera's Project Website
	Date of Creation: 27/05/2015.
	Author: Carlos Mateo
	Tags: White, blue, clean

------------------------------------------------------------------*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
@import url(http://fonts.googleapis.com/css?family=Raleway:500,700,400,200,300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic);
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: white; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }
  a:hover, a:focus {
    color: #23527c;
    text-decoration: underline; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid, #main-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, #main-wrapper:before, .container-fluid:after, #main-wrapper:after {
    content: " ";
    display: table; }
  .container-fluid:after, #main-wrapper:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
#main-navigation ul, #footer-content .menu ul,
#footer-content .contact ul,
#footer-content .social-links ul, #codemera-in-numbers ul, #selected-work ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* ie 6/7 */ }

img {
  max-width: 100%;
  height: auto;
  width: 100% \9; }

#main-logo a, #footer-logo {
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }
  #main-logo a:before, #footer-logo:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

html {
  -webkit-font-smoothing: antialiased;
  height: 100%; }

body {
  height: 100%;
  background-color: white;
  font: 16px/24px "Libre Baskerville", "Georgia", serif;
  color: #7d7d7d;
  text-rendering: optimizeLegibility; }

a:hover, a:focus, a:active {
  outline: 0; }

.buttons {
  background-color: #1ab9e1;
  color: white;
  font: 500 14px "Raleway", sans-serif;
  max-width: 180px;
  display: block;
  text-transform: uppercase;
  text-align: center;
  padding: 18px 0;
  margin: 45px auto 0;
  transition: background-color .3s;
  clear: both;
  position: relative;
  transition: all .4s;
  opacity: 0; }
  .buttons:after {
    color: #1ab9e1;
    font: 15px 'FontAwesome';
    content: "\f178";
    position: absolute;
    margin-left: 15px; }
  .buttons:hover {
    background-color: #1593b3;
    max-width: 215px;
    padding-right: 25px;
    color: white;
    text-decoration: none; }
    .buttons:hover:after {
      color: white; }
  .buttons:active {
    background-color: #1593b3;
    color: white;
    text-decoration: none;
    top: 1px; }

#main-wrapper {
  height: 100%;
  position: relative; }

.content-container {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }
  .content-container:before, .content-container:after {
    content: " ";
    display: table; }
  .content-container:after {
    clear: both; }

#main-header {
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
  position: fixed;
  padding: 15px 0;
  z-index: 10;
  transition: all .4s; }
  #main-header:before, #main-header:after {
    content: " ";
    display: table; }
  #main-header:after {
    clear: both; }
  #main-header.sticky-menu {
    background-color: rgba(0, 0, 0, 0.89);
    top: 0; }

#main-logo {
  width: 40%;
  float: left;
  position: relative;
  z-index: 20; }
  #main-logo h1 {
    margin: 0; }
  #main-logo a {
    display: block;
    background: url("../images/main-logo.png") no-repeat;
    width: 191px;
    height: 20px; }

#main-navigation {
  width: 60%;
  float: left; }
  #main-navigation ul {
    background-color: rgba(0, 0, 0, 0.9);
    width: 60%;
    height: 100%;
    margin: 0;
    padding-top: 50px;
    position: fixed;
    z-index: 5;
    top: 0;
    right: -60%;
    transition: right .4s ease-out; }
    #main-navigation ul.active {
      right: 0; }
  #main-navigation li {
    border-bottom: 1px solid #4a4a4a; }
    #main-navigation li a {
      font: 600 17px "Raleway", sans-serif;
      color: white;
      display: block;
      padding: 20px 30px;
      text-transform: uppercase;
      text-decoration: none;
      transition: background-color .2s; }
      #main-navigation li a:hover {
        background-color: #292929; }

#main-navigation-mobile {
  width: 30px;
  height: 25px;
  padding: 10px;
  position: fixed;
  top: 5px;
  right: 8px;
  z-index: 10;
  text-decoration: none;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  #main-navigation-mobile span {
    background: white;
    width: 27px;
    height: 4px;
    display: block;
    position: relative;
    top: 0;
    left: 0; }
    #main-navigation-mobile span:after, #main-navigation-mobile span:before {
      content: "";
      display: block;
      background: white;
      width: 27px;
      height: 4px;
      position: absolute;
      left: 0; }
    #main-navigation-mobile span:before {
      bottom: -8px; }
    #main-navigation-mobile span:after {
      bottom: -16px; }

#main-footer {
  margin-left: -15px;
  margin-right: -15px;
  background-color: #141414;
  color: white;
  padding-bottom: 7.5px; }
  #main-footer:before, #main-footer:after {
    content: " ";
    display: table; }
  #main-footer:after {
    clear: both; }

#messages-bar {
  padding: 15px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #404040; }
  #messages-bar p {
    font-size: 14px;
    font-style: italic; }
    #messages-bar p strong {
      font: 18px "Lato", sans-serif;
      display: block;
      margin-bottom: 3px; }
    #messages-bar p a {
      font-weight: bold;
      color: white;
      text-decoration: underline; }

#footer-logo {
  display: block;
  background: url("../images/main-logo.png") no-repeat;
  width: 191px;
  height: 20px; }

#footer-content .logo-copy {
  margin-bottom: 45px; }
  #footer-content .logo-copy p, #footer-content .logo-copy a {
    color: #999999; }
  #footer-content .logo-copy a {
    text-decoration: underline;
    transition: color .2s; }
    #footer-content .logo-copy a:hover {
      color: #fff; }
  #footer-content .logo-copy small {
    font-size: 14px;
    color: #999999; }
#footer-content h3 {
  font: bold 12px "Raleway", sans-serif;
  color: #999999;
  text-transform: uppercase; }
#footer-content a {
  color: white; }
#footer-content .menu,
#footer-content .contact,
#footer-content .social-links {
  margin-bottom: 45px; }
  #footer-content .menu ul,
  #footer-content .contact ul,
  #footer-content .social-links ul {
    font: 500 13px "Raleway", sans-serif;
    text-transform: uppercase; }
#footer-content .contact a {
  font-size: 16px; }
#footer-content .menu li {
  margin: 0 2% 15px;
  display: block; }
  #footer-content .menu li a {
    font-size: 17px;
    font-weight: bold; }
#footer-content .social-links ul {
  margin-top: 20px; }
#footer-content .social-links li {
  display: inline-block;
  margin: 0 5%; }
  #footer-content .social-links li:first-child {
    margin-left: 0; }
#footer-content .social-links a {
  text-decoration: none; }
#footer-content .social-links a:before {
  font: 32px 'FontAwesome';
  display: block; }
#footer-content .social-links .icon-fb a:before {
  content: "\f09a"; }
#footer-content .social-links .icon-tw a:before {
  content: "\f099"; }
#footer-content .social-links .icon-gp a:before {
  content: "\f0d5"; }
#footer-content .social-links .icon-li a:before {
  content: "\f0e1"; }

@media (min-width: 992px) {
  body {
    font-size: 16px;
    line-height: 28px; }

  .content-container {
    max-width: 1170px;
    margin: 0 auto; }

  #main-header {
    top: 20px;
    padding: 15px 0 0 0; }

  #main-logo {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; } }
  @media (min-width: 992px) and (min-width: 768px) {
    #main-logo {
      float: left;
      width: 100%; } }
  @media (min-width: 992px) and (min-width: 992px) {
    #main-logo {
      float: left;
      width: 41.66667%; } }
  @media (min-width: 992px) and (min-width: 1200px) {
    #main-logo {
      float: left;
      width: 41.66667%; } }

@media (min-width: 992px) {
  #main-navigation {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; } }
  @media (min-width: 992px) and (min-width: 768px) {
    #main-navigation {
      float: left;
      width: 58.33333%; } }
  @media (min-width: 992px) and (min-width: 992px) {
    #main-navigation {
      float: left;
      width: 58.33333%; } }
  @media (min-width: 992px) and (min-width: 1200px) {
    #main-navigation {
      float: left;
      width: 58.33333%; } }
@media (min-width: 992px) {
    #main-navigation ul {
      width: 100%;
      background: none;
      text-align: right;
      position: relative;
      top: -10px;
      right: 0;
      padding-top: 0;
      display: block; }
      #main-navigation ul li {
        display: inline-block;
        margin: 0 1%;
        border-bottom: none; }
      #main-navigation ul a {
        font: 500 12px "Raleway", sans-serif;
        color: white;
        padding: 15px 25px;
        position: relative;
        text-transform: uppercase;
        border: 1px solid transparent; }
        #main-navigation ul a:hover {
          background: none;
          font-weight: 700; }
        #main-navigation ul a:after {
          content: "";
          display: block;
          position: absolute;
          background-color: white;
          width: 0%;
          left: 50%;
          bottom: -10px;
          margin-left: 0%;
          height: 1px;
          transition: width .4s, margin-left .4s; }
        #main-navigation ul a:hover:after {
          width: 90%;
          margin-left: -45%; }

  #main-navigation-mobile {
    display: none !important; }

  #messages-bar {
    text-align: center; }
    #messages-bar p {
      font-size: 16px;
      position: relative; }
      #messages-bar p strong {
        font: 700 23px "Lato", sans-serif;
        display: inline-block;
        margin-right: 5px; }
      #messages-bar p a {
        color: white;
        text-decoration: underline; }
      #messages-bar p:before {
        content: "";
        display: block;
        background: url("../images/icons.png") no-repeat -16px -242px;
        width: 67px;
        height: 69px;
        position: absolute;
        top: -17px; }

  #footer-content {
    text-align: left; }
    #footer-content .logo-copy {
      position: relative;
      float: left;
      width: 100%;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px; } }
    @media (min-width: 992px) and (min-width: 768px) {
      #footer-content .logo-copy {
        float: left;
        width: 100%; } }
    @media (min-width: 992px) and (min-width: 992px) {
      #footer-content .logo-copy {
        float: left;
        width: 31.66667%; } }
    @media (min-width: 992px) and (min-width: 1200px) {
      #footer-content .logo-copy {
        float: left;
        width: 31.66667%; } }
@media (min-width: 992px) {
      #footer-content .logo-copy p {
        line-height: normal;
        margin-bottom: 30px; }
      #footer-content .logo-copy small {
        font-size: 13px; }
    #footer-content .menu {
      position: relative;
      float: left;
      width: 100%;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      padding-left: 45px; } }
    @media (min-width: 992px) and (min-width: 768px) {
      #footer-content .menu {
        float: left;
        width: 100%; } }
    @media (min-width: 992px) and (min-width: 992px) {
      #footer-content .menu {
        float: left;
        width: 18.33333%; } }
    @media (min-width: 992px) and (min-width: 1200px) {
      #footer-content .menu {
        float: left;
        width: 18.33333%; } }
@media (min-width: 992px) {
      #footer-content .menu li {
        display: block;
        margin-bottom: 12px; }
        #footer-content .menu li a {
          font-size: 13px;
          font-weight: 600; }
    #footer-content .contact,
    #footer-content .social-links {
      position: relative;
      float: left;
      width: 100%;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px; } }
    @media (min-width: 992px) and (min-width: 768px) {
      #footer-content .contact,
      #footer-content .social-links {
        float: left;
        width: 100%; } }
    @media (min-width: 992px) and (min-width: 992px) {
      #footer-content .contact,
      #footer-content .social-links {
        float: left;
        width: 25%; } }
    @media (min-width: 992px) and (min-width: 1200px) {
      #footer-content .contact,
      #footer-content .social-links {
        float: left;
        width: 25%; } }
@media (min-width: 992px) {
    #footer-content .logo-copy {
      font-size: 13px; }
    #footer-content h3 {
      margin-top: 0; }
    #footer-content a {
      color: white; }
    #footer-content .social-links li {
      margin: 0; }
      #footer-content .social-links li:first-child {
        margin-left: -13px; }
    #footer-content .social-links a {
      transition: color .3s; }
      #footer-content .social-links a:before {
        font-size: 21px;
        padding: 5px 13px;
        display: block; }
    #footer-content .social-links .icon-fb a:hover {
      color: #39579A; }
    #footer-content .social-links .icon-tw a:hover {
      color: #50ABF1; }
    #footer-content .social-links .icon-gp a:hover {
      color: #DF4A32; }
    #footer-content .social-links .icon-li a:hover {
      color: #0077b5; }

  #footer-logo {
    display: block;
    background: url("../images/main-logo.png") no-repeat;
    width: 191px;
    height: 20px;
    margin: 0; } }
#home section {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$oldBrowsers)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0; }
  #home section h2 {
    font: 300 30px "Raleway", sans-serif;
    text-transform: uppercase;
    color: #606060;
    text-align: center;
    margin-top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$oldBrowsers)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  #home section#what-we-do h2 {
    color: white; }
  #home section .intro {
    text-align: center;
    margin-bottom: 45px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$oldBrowsers)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }

#jumbotron {
  margin-left: -15px;
  margin-right: -15px;
  background: url("../images/jumbotron-bg.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$oldBrowsers)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0; }
  #jumbotron:before, #jumbotron:after {
    content: " ";
    display: table; }
  #jumbotron:after {
    clear: both; }
  #jumbotron .content-container {
    height: 100%;
    display: table; }
  #jumbotron p {
    display: table-cell;
    vertical-align: middle;
    font: 200 18px "Raleway", sans-serif;
    color: #fff; }
    #jumbotron p span {
      font: 600 35px "Lato", sans-serif;
      font-weight: bold;
      display: block;
      margin-bottom: 5px; }
    #jumbotron p b {
      font-weight: 400;
      margin-top: 15px;
      display: block; }

#who-we-are {
  padding-top: 52.5px; }

#codemera-in-numbers {
  margin-left: -15px;
  margin-right: -15px;
  background: whitesmoke;
  padding-top: 37.5px;
  margin-top: 45px; }
  #codemera-in-numbers:before, #codemera-in-numbers:after {
    content: " ";
    display: table; }
  #codemera-in-numbers:after {
    clear: both; }
  #codemera-in-numbers ul {
    text-align: center; }
    #codemera-in-numbers ul li {
      margin-bottom: 37.5px; }
    #codemera-in-numbers ul h3 {
      font: 600 30px "Lato", sans-serif;
      color: #1ab9e1;
      margin: 0 0 2px 0; }
    #codemera-in-numbers ul p {
      font: 400 16px "Lato", sans-serif;
      color: lighter(#606060, 5%);
      margin: 0; }

#what-we-do {
  margin-left: -15px;
  margin-right: -15px;
  background: url("../images/what-we-do-bg.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 45px 0;
  margin-bottom: 60px; }
  #what-we-do:before, #what-we-do:after {
    content: " ";
    display: table; }
  #what-we-do:after {
    clear: both; }
  #what-we-do .more > div {
    margin-bottom: 60px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$oldBrowsers)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
    #what-we-do .more > div h3 {
      font: 600 18px "Raleway", sans-serif; }
    #what-we-do .more > div p {
      font-size: 14px; }
    #what-we-do .more > div:before {
      content: "";
      display: block;
      background-image: url("../images/icons.png");
      background-repeat: no-repeat;
      margin: 0 auto; }
    #what-we-do .more > div:last-child {
      margin-bottom: 0; }

#create-experience:before {
  background-position: -20px -7px;
  width: 56px;
  height: 61px; }

#develop-software:before {
  background-position: -14px -87px;
  width: 68px;
  height: 61px; }

#do-it-again:before {
  background-position: -8px -163px;
  width: 80px;
  height: 61px; }

#selected-work {
  margin-bottom: 45px; }
  #selected-work ul {
    text-align: center; }
    #selected-work ul li {
      margin-bottom: 37.5px;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$oldBrowsers)";
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      -khtml-opacity: 0;
      opacity: 0; }

@media (min-width: 768px) {
  #home section {
    padding: 60px 0; }
    #home section h2 {
      font: 300 38px "Raleway", sans-serif; }
    #home section#who-we-are {
      padding-bottom: 0; }
    #home section#what-we-do {
      padding: 75px 0 0 0; }
      #home section#what-we-do .intro {
        margin-bottom: 75px; }

  #jumbotron p {
    font: 200 29px "Raleway", sans-serif; }
    #jumbotron p span {
      font: 600 60px "Lato", sans-serif;
      margin-bottom: 5px; }
    #jumbotron p b {
      font-size: 27px;
      font-weight: 500;
      margin-top: 15px; }

  #who-we-are .content-container {
    padding: 60px; }

  #codemera-in-numbers {
    margin-top: 75px; }
    #codemera-in-numbers .content-container {
      padding: 15px; }
    #codemera-in-numbers li {
      position: relative;
      float: left;
      width: 100%;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px; } }
    @media (min-width: 768px) and (min-width: 768px) {
      #codemera-in-numbers li {
        float: left;
        width: 100%; } }
    @media (min-width: 768px) and (min-width: 992px) {
      #codemera-in-numbers li {
        float: left;
        width: 25%; } }
    @media (min-width: 768px) and (min-width: 1200px) {
      #codemera-in-numbers li {
        float: left;
        width: 25%; } }

@media (min-width: 768px) {
  #what-we-do .more > div {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 23px;
    padding-left: 45px;
    padding-right: 45px; } }
  @media (min-width: 768px) and (min-width: 768px) {
    #what-we-do .more > div {
      float: left;
      width: 100%; } }
  @media (min-width: 768px) and (min-width: 992px) {
    #what-we-do .more > div {
      float: left;
      width: 33.33333%; } }
  @media (min-width: 768px) and (min-width: 1200px) {
    #what-we-do .more > div {
      float: left;
      width: 33.33333%; } }

@media (min-width: 768px) {
  #selected-work {
    margin-bottom: 45px; }
    #selected-work ul {
      margin: 75px 0; }
    #selected-work li {
      position: relative;
      float: left;
      width: 100%;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 37.5px; } }
    @media (min-width: 768px) and (min-width: 768px) {
      #selected-work li {
        float: left;
        width: 100%; } }
    @media (min-width: 768px) and (min-width: 992px) {
      #selected-work li {
        float: left;
        width: 20%; } }
    @media (min-width: 768px) and (min-width: 1200px) {
      #selected-work li {
        float: left;
        width: 20%; } }

@media (-webkit-min-device-pixel-ratio: 1.5), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min-device-pixel-ratio: 1.5) {
  #main-logo a,
  #footer-logo {
    background: url("../images/@2x/main-logo@2x.png") no-repeat;
    background-size: 191px 20px; }

  #what-we-do .more > div:before {
    background-image: url("../images/@2x/icons@2x.png");
    background-size: 95px 320px; }

  #messages-bar p:before {
    background: url("../images/@2x/icons@2x.png") no-repeat -16px -242px;
    background-size: 95px 320px; } }
