//
//  Buttons
// --------------------------------------------------

.buttons {
	background-color: $color4;
	color: $color1;
	font: 500 14px $secondaryFont;
	max-width: 180px;
	display: block;
	text-transform: uppercase;
	text-align: center;
	padding: 18px 0;
	margin: $vSpace*3 auto 0;
	transition: background-color .3s;
	clear: both;
	position: relative;
	transition: all .4s;
	opacity: 0;

	&:after {
		color: $color4;
		font: 15px 'FontAwesome';
		content: "\f178";
		position: absolute;
		margin-left: 15px;
	}

	&:hover {
		background-color: darken($color4, 10%);
		max-width: 215px;
		padding-right: 25px;
		color: $color1;
		text-decoration: none;

		&:after {
			color: $color1;
		}
	}

	&:active {
		background-color: darken($color4, 10%);
		color: $color1;
		text-decoration: none;
		top: 1px;
	}
}