//
//  Main Layout
// --------------------------------------------------

#main-wrapper {
	@extend .container-fluid;
	height: 100%;
	position: relative;
}

.content-container {
	@include make-row();
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}


// Header
// --------------------
#main-header {
	@include make-row();
	width: 100%;
	position: fixed;
	padding: $vSpace 0;
	z-index: 10;
	transition: all .4s;

	&.sticky-menu {
		background-color: rgba(0,0,0,.89);
		top: 0;
	}
}
	#main-logo {
		width: 40%;
		float: left;
		position: relative;
		z-index: 20;

		h1 {
			margin: 0;
		}

		a {
			@extend %ir;
			display: block;
			background: url($imagesPath + "main-logo.png") no-repeat;
			width: 191px;
			height: 20px;
		}
	}

	#main-navigation {
		width: 60%;
		float: left;

		ul {
			@extend %reset-ul;
			background-color: rgba(0,0,0,.9);
			width: 60%;
			height: 100%;
			margin: 0;
			padding-top: 50px;
			position: fixed;
			z-index: 5;
			top: 0;
			right: -60%;
			transition: right .4s ease-out;

			&.active {
				right: 0;
			}
		}

		li {
			border-bottom: 1px solid darken($color2, 20%);

			a {
				font: 600 17px $secondaryFont;
				color: $color1;
				display: block;
				padding: 20px 30px;
				text-transform: uppercase;
				text-decoration: none;
				transition: background-color .2s;

				&:hover {
					background-color: darken($color2, 33%);
				}
			}
		}
	}
		#main-navigation-mobile {
			width: 30px;
			height: 25px;
			padding: 10px;
			position: fixed;
			top: 5px;
			right: 8px;
			z-index: 10;
			text-decoration: none;
			-moz-box-sizing: content-box;
  			box-sizing: content-box;

			span {
				background: $color1;
				width: 27px;
				height: 4px;
				display: block;
				position: relative;
				top: 0;
				left: 0;

				&:after,
				&:before {
					content: "";
					display: block;
					background: $color1;
					width: 27px;
					height: 4px;
					position: absolute;
					left: 0;
				}

				&:before {
					bottom: -8px;
				}

				&:after {
					bottom: -16px;
				}
			}
		}


// Footer
// --------------------
#main-footer {
	@include make-row();
	background-color: $color5;
	color: $color1;
	padding-bottom: $vSpace*.5;
}
	#messages-bar {
		padding: $vSpace 0;
		margin-bottom: $vSpace * 2;
		border-bottom: 1px solid darken($color1, 75%);

		p {
			font-size: 14px;
			font-style: italic;

			strong {
				font: 18px $thirdaryFont;
				display: block;
				margin-bottom: 3px;
			}

			a {
				font-weight: bold;
				color: $color1;
				text-decoration: underline;
			}
		}
	}

	#footer-logo {
		@extend %ir;
		display: block;
		background: url($imagesPath + "main-logo.png") no-repeat;
		width: 191px;
		height: 20px;
	}

	#footer-content {

		.logo-copy {
			margin-bottom: $vSpace*3;
		
			p, a {
				color: darken($color1, 40%);
			}

			a {
				text-decoration: underline;
				transition: color .2s;

				&:hover {
					color: #fff;
				}
			}

			small {
				font-size: 14px;
				color: darken($color1, 40%);
			}
		}

		h3 {
			font: bold 12px $secondaryFont;
			color: darken($color1, 40%);
			text-transform: uppercase;
		}

		a {
			color: $color1;
		}

		.menu,
		.contact,
		.social-links {
			margin-bottom: $vSpace*3;

			ul {
				@extend %reset-ul;
				font: 500 13px $secondaryFont;
				text-transform: uppercase;
			}
		}

		.contact a {
			font-size: 16px;
		}

		.menu li {
			margin: 0 2% 15px;
			display: block;

			a {
				font-size: 17px;
				font-weight: bold;
			}
		}

		.social-links {

			ul {
				margin-top: 20px;
			}

			li {
				display: inline-block;
				margin: 0 5%;

				&:first-child {
					margin-left: 0;
				}
			}

			a {
				text-decoration: none;
			}

			a:before {
				font: 32px 'FontAwesome';
				display: block;
			}

			.icon-fb a:before { content: "\f09a"; }
			.icon-tw a:before { content: "\f099"; }
			.icon-gp a:before { content: "\f0d5"; }
			.icon-li a:before { content: "\f0e1"; }
		}
	}


// --------------------------------
// Media Query for: screen >= ~768
// --------------------------------
@media (min-width: $screen-md) {

	body {
		font-size: $baseFontSize;
		line-height: $baseLineHeight;
	}

	.content-container {
		max-width: 1170px;
		margin: 0 auto;
	}


	// Header
	// --------------------
	#main-header {
		top: 20px;
		padding: 15px 0 0 0;
	}
		#main-logo {
			@include make-column(5,5,12);
		}

		#main-navigation {
			@include make-column(7,7,7);

			ul {
				width: 100%;
				background: none;
				text-align: right;
				position: relative;
				top: -10px;
				right: 0;
				padding-top: 0;
				display: block;

				li {
					display: inline-block;
					margin: 0 1%;
					border-bottom: none;
				}
				a {
					font: 500 12px $secondaryFont;
					color: $color1;
					padding: 15px 25px;
					position: relative;
					text-transform: uppercase;
					border: 1px solid transparent;

					&:hover {
						background: none;
						font-weight: 700;
					}
					
					&:after {
						content: "";
						display: block;
						position: absolute;
						background-color: $color1;
						width: 0%;
						left: 50%;
						bottom: -10px;
						margin-left: 0%;
						height: 1px;
						transition: width .4s, margin-left .4s;
					}

					&:hover:after {
						width: 90%;
						margin-left: -45%;
					}
				}
			}
		}
			#main-navigation-mobile {
				display: none!important;
			}
	
	
	// Footer
	// --------------------
	#messages-bar {
		text-align: center;

		p {
			font-size: 16px;
			position: relative;

			strong {
				font: 700 23px $thirdaryFont;
				display: inline-block;
				margin-right: 5px;
			}

			a {
				color: $color1;
				text-decoration: underline;
			}

			&:before {
				content: "";
				display: block;
				background: url($imagesPath + "icons.png") no-repeat -16px -242px;
				width: 67px;
				height: 69px;
				position: absolute;
				top: -17px;
			}
		}
	}

	#footer-content {
		text-align: left;

		.logo-copy {
			@include make-column(3.8,3.8,12);

			p {
				line-height: normal;
				margin-bottom: $vSpace*2;
			}

			small {
				font-size: 13px;
			}
		}

		.menu {
			@include make-column(2.2,2.2,12);
			padding-left: 45px;

			li {
				display: block;
				margin-bottom: $vSpace * .8;

				a {
					font-size: 13px;
					font-weight: 600;
				}
			}
		}

		.contact,
		.social-links {
			@include make-column(3,3,12);
		}

		.logo-copy {
			font-size: 13px;
		}

		h3 {
			margin-top: 0;
		}

		a {
			color: $color1;
		}

		.social-links {
			li {
				margin: 0;

				&:first-child {
					margin-left: -13px;
				}
			}

			a {
				transition: color .3s;

				&:before {
					font-size: 21px;
					padding: 5px 13px;
					display: block;
				}
			}

			.icon-fb a:hover { color: #39579A; }
			.icon-tw a:hover { color: #50ABF1; }
			.icon-gp a:hover { color: #DF4A32; }
			.icon-li a:hover { color: #0077b5; }
		}

	}
		#footer-logo {
			display: block;
			background: url($imagesPath + "main-logo.png") no-repeat;
			width: 191px;
			height: 20px;
			margin: 0;
		}

}