//
//  HOME LAYOUT
// --------------------------------------------------


// Home General CSS
// --------------------
#home section {
	@include make-opacity(0);

	h2 {
		font: 300 30px $secondaryFont;
		text-transform: uppercase;
		color: $color3;
		text-align: center;
		margin-top: 0;
		@include make-opacity(0);
	}
		&#what-we-do h2 {
			color: $color1;
		}

	.intro {
		text-align: center;
		margin-bottom: $vSpace*3;
		@include make-opacity(0);
	}
}


	// Jumbotron
	// -------------
	#jumbotron {
		@include make-row();
		background: url($imagesPath + "jumbotron-bg.jpg") no-repeat center center;
		background-size: cover;
		height: 100%;
		@include make-opacity(0);

		.content-container {
			height: 100%;
			display: table;
		}

		p {
			display: table-cell;
			vertical-align: middle;
			font: 200 18px $secondaryFont;
			color: #fff;

			span {
				font: 600 35px $thirdaryFont;
				font-weight: bold;
				display: block;
				margin-bottom: 5px;
			}

			b {
				font-weight: 400;
				margin-top: $vSpace;
				display: block;
			}
		}
	}




	// Who we are
	// -------------
	#who-we-are {
		padding-top: $vSpace*3.5;
	}
		#codemera-in-numbers {
			@include make-row();
			background: darken($color1, 4%);
			padding-top: $vSpace*2.5;
			margin-top: $vSpace*3;

			ul {
				@extend %reset-ul;
				text-align: center;

				li {
					margin-bottom: $vSpace*2.5;
				}
				
				h3 {
					font: 600 30px $thirdaryFont;
					color: $color4;
					margin: 0 0 2px 0;
				}

				p {
					font: 400 16px $thirdaryFont;
					color: lighter($color3, 5%);
					margin: 0;
				}
			}
		}

	
	// What we do
	// -------------
	#what-we-do {
		@include make-row();
		background: url($imagesPath + "what-we-do-bg.jpg") no-repeat center center;
		background-size: cover;
		color: $color1;
		text-align: center;
		padding: $vSpace*3 0;
		margin-bottom: $vSpace*4;

		.more > div {
			margin-bottom: $vSpace*4;
			@include make-opacity(0);

			h3 {
				font: 600 18px $secondaryFont;
			}

			p {
				font-size: 14px;
			}

			&:before {
				content: "";
				display: block;
				background-image: url($imagesPath + "icons.png");
				background-repeat: no-repeat;
				margin: 0 auto;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
		#create-experience:before {
			background-position: -20px -7px;
			width: 56px;
			height: 61px;
		}

		#develop-software:before {
			background-position: -14px -87px;
			width: 68px;
			height: 61px;
		}

		#do-it-again:before {
			background-position: -8px -163px;
			width: 80px;
			height: 61px;
		}


	// Selected work
	// ----------------
	#selected-work {
		margin-bottom: $vSpace * 3;
		
		ul {
			@extend %reset-ul;
			text-align: center;

			li {
				margin-bottom: $vSpace*2.5;
				@include make-opacity(0);
			}
		}
	}


// --------------------------------
// Media Query for: screen >= ~768
// --------------------------------
@media (min-width: $screen-sm) {

	#home section {
		padding: $vSpace*4 0;

		h2 {
			font: 300 38px $secondaryFont;
		}

		&#who-we-are {
			padding-bottom: 0;
		}

		&#what-we-do {
			padding: $vSpace*5 0 0 0;

			.intro {
				margin-bottom: $vSpace*5;
			}
		}
	}


	// Jumbotron
	// -------------
	#jumbotron {
		//height: 900px;

		p {
			font: 200 29px $secondaryFont;

			span {
				font: 600 60px $thirdaryFont;
				margin-bottom: 5px;
			}

			b {
				font-size: 27px;
				font-weight: 500;
				margin-top: $vSpace;
			}
		}
	}


	// Who we are
	// -------------
	#who-we-are {
		.content-container {
			padding: $vSpace*4;
		}
	}
		#codemera-in-numbers {
			margin-top: $vSpace*5;

			.content-container {
				padding: $vSpace;
			}

			li {
				@include make-column(3,3,12);
			}
		}


	// What we do
	// -------------
	#what-we-do {
		.more > div {
			@include make-column(4,4,12);
			line-height: 23px;
			padding-left: 45px;
			padding-right: 45px;
		}
	}


	// Selected work
	// ----------------
	#selected-work {
		margin-bottom: $vSpace * 3;

		ul {
			margin: $vSpace*5 0;
		}
		
		li {
			@include make-column(2.4,2.4,12);
			margin-bottom: $vSpace*2.5;
		}
	}

}


// ----------------------------------------
// Media Query for @2x pixel ratio devices
// ----------------------------------------
@media (-webkit-min-device-pixel-ratio: 1.5), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min-device-pixel-ratio: 1.5)  {

	#main-logo a,
	#footer-logo {
		background: url($imagesPath + "@2x/main-logo@2x.png") no-repeat;
		background-size: 191px 20px;
	}

	#what-we-do .more > div:before {
		background-image: url($imagesPath + "@2x/icons@2x.png");
		background-size: 95px 320px;
	}

	#messages-bar p:before {
		background: url($imagesPath + "@2x/icons@2x.png") no-repeat -16px -242px;
		background-size: 95px 320px;
	}

}
